@import "tailwindcss";

@theme {
  --color-primary: #1C3FAA;
}

* {
    --tw-ring-color: rgb(0 0 0 / 0) !important;
}

body {
  background-color: var(--color-primary);
}

div#root {
  display: flex;
  min-height: 100vh;
  /* justify-content: center;
  align-items: center; */
  /*  */
}